<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:belinda.xie@unsw.edu.au">email</a></li>
				<li><a href="https://twitter.com/bel_xie">twitter</a></li>
				<li><a href="https://www.researchgate.net/profile/Belinda_Xie">ResearchGate</a></li>
				<li><a href="https://www.linkedin.com/in/xiebelinda/">LinkedIn</a></li>
				<li><a href="https://www.psy.unsw.edu.au/contacts-people/research-students/belinda-xie">UNSW profile</a></li>
<!-- 	        		<li><a href="https://belindaxie.github.io">belindaxie.github.io</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
